*{
	margin:0;
	padding:0;
}
a{
	color:#8FC2FF;
	text-decoration: none;
	outline: none;
}
a:hover{
	text-decoration: underline;
}
img{
	border:none;
}
body {
	overflow:hidden;/*Needed to eliminate scrollbars*/
	background:#000;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
}
#content{
	margin:0px auto;
	height:150px;
	width:100%;
	bottom:5%;
	z-index: 3;
	background:#000 no-repeat 90%;
	position:absolute;
}
#contentframe{
	overflow: hidden;
	height: 100%;
	text-align:left;
	z-index: 3;
}


/* 
		SEARCH
*/
#search {
	float:right;
	margin-right:70px;
	margin-top:40px;
}
.search {
	width:200px;
	overflow:hidden;
	border:none;
	background:#fff;
	padding:10px;
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px; 
}
.submit {
	margin-left:5px;
	width:68px;
	height:40px;
	background:#1bb2ae;
	border:2px solid #fff;
	color:#fff;
	cursor:pointer;
	outline:none;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px; 
}

.submit:hover {
	background:#107270;
}

#searchResults {
	float:right;
	width:400px;
	height:300px;
	background:#000;
	position:absolute;
	right:0;
	top:-300px;
	display:none;
	margin-right:20px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;  
}

#logo {
	float:left;
	width:200px;
	height:140px;
	color:#fff;
	padding-top:10px;
	margin-left:40px;
}

.images a {
	width:80px;
	height:80px;
	overflow:hidden;
	margin:10px 0 0 10px;
	display:block;
	float:left;
}
.images a img {
	width:100px;
}

#loading {
	position: absolute;
	top: 49.5%; 
	left: 49.5%;
	z-index: 3;
	width: 24px; 
	height: 24px;
	text-indent: -999em;
	background-image: url(images/progress.gif);
}
#supersize{
	position:fixed;
}
#supersize img, #supersize a{
	height:100%;
	width:100%;
	position:absolute;
	z-index: 0;
}
#supersize .prevslide, #supersize .prevslide img{
	z-index: 1;
}
#supersize .activeslide, #supersize .activeslide img{
	z-index: 2;
}