<div style="color: white;">
<% unless @videos.blank? %>
  <table border=1>
    <thead>
      <tr>
        <th>Name</th>
        <th>Image Count</th>
        <th>Add Image</th>
        <th>Acton</th>
      </tr>
    <tbody>
      <% @videos.each do |video| %>
        <tr>
          <td><%= video.name %></td>
          <td><%= video.video_images.length %></td>
          <td>
            <%= form_tag video_add_image_path(video) do %>
            <input type="text" name="url"/>
            <input type="submit"/>
            <% end %>
          </td>
          <td><%= link_to "View", video_path(video) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  No videos
<% end %>
</div>
