	<script src="http://dev.jquery.com/view/tags/ui/latest/ui/effects.core.js"></script> 
	<script src="http://dev.jquery.com/view/tags/ui/latest/ui/effects.slide.js"></script> 
  <%= javascript_include_tag 'supersized.2.0.js' %>
  
	<script type="text/javascript">  
		$(function(){
			$.fn.supersized.options = {  
				startwidth: 640,  
				startheight: 480,
				vertical_center: 1,
				slideshow: 1,
				navigation: 1,
				transition: 1, //0-None, 1-Fade, 2-slide top, 3-slide right, 4-slide bottom, 5-slide left
				pause_hover: 0,
				slide_counter: 1,
				slide_captions: 1,
				slide_interval: 3000  
			};
	        $('#supersize').supersized(); 
	    });
	</script> 

 
<!--Loading display while images load--> 
<div id="loading">&nbsp;</div> 
 
<!--Slides--> 
<div id="supersize"> 
  <% @video.video_images.each do |image| %>
    <a href="#"><img src="<%= image.url %>" title="Contrib Here"/></a> 
  <% end %>
</div> 
 
<!--Content area that hovers on top--> 
<div id="content"> 
	<div id="contentframe"> 
	

   <audio controls="controls" autoplay="autoplay">
   <source src="<%= @video.audio_url %>" type="audio/mpeg" />
   Your browser does not support the audio element, you suck!
   </audio>

		
	</div> 
</div> 
  
